<% content_for :form do %>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    var redirect_url = 'http://rguffyat.heroku.com/compare';

    FB.init({
      appId      : '<%= Facebook::APP_ID %>',
      status     : true,
      cookie     : true,
      xfbml      : true,
      oauth      : true
    });

    FB.getLoginStatus(function(response) {
        if (response.status === 'connected') {
            window.location.href = redirect_url;
        }
    });

    FB.Event.subscribe('auth.login', function(response) {
        if (response.authResponse) {
          window.location.href = redirect_url;
        }
    });
  };

  // Load the SDK Asynchronously
  (function(d){
       var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
       js = d.createElement('script'); js.id = id; js.async = true;
       js.src = "//connect.facebook.net/en_US/all.js";
       d.getElementsByTagName('head')[0].appendChild(js);
     }(document));
</script>
<div class="main center">
  <h1 class="text_center">Login to see what you and your friends have in common</h1>
  <div class="fb-login-button center" scope="user_likes,friends_likes">Login with Facebook</div>
</div>
<% end %>

<%= render :template => 'layouts/application' %>